$body-color: rgba(#fff, 0.3);
$body-bg: #273139;

$primary: #ff5127;
$gray: #323c43;

html {
  background-color: $body-bg;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($body-bg, 10%);
    border-radius: 6px;
  }
}

body {
  color: $body-color;
  font-family: 'Operator Mono', sans-serif;
  margin: 0;
  padding: 0;

  &.body-hovered {
    cursor: grab;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $body-color;
  text-decoration: none;
  transition: color ease 0.2s;

  &:hover {
    color: white;
  }
}

header {
  position: fixed;
  z-index: 100;
  left: 40px;
  top: 40px;
  display: flex;
  align-items: center;

  img {
    position: relative;
    z-index: 5;
    border-radius: 50%;
  }

  nav#main {
    height: 54px;
    background: #323c43c2;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    padding-left: 35px;
    margin-left: -35px;
    font-size: 16px;
  }

  nav#tools {
    position: fixed;
    right: 58px;
    top: 58px;

    button {
      display: block;
      height: 54px;
      width: 54px;
      border: 0;
      background: #323c43c2;
      border-radius: 54px;
      cursor: pointer;
      transition: background-color ease-in-out 0.3s;

      &:hover {
        background: rgba(60, 70, 78, 0.76);
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  [href] {
    padding: 10px 15px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 7px 4px;

    li {
      display: inline-block;
      margin: 10px 5px;

      &:last-child [href] {
        border-radius: 24px;
        background: rgba(#fff, 0.05);
      }
    }
  }
}

#canvas > canvas {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
}

section#home {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(50vh - 100px);
  min-height: 100vh;
  text-align: center;

  > .head {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
    position: relative;
    z-index: 5;
    pointer-events: none;
  }

  h1 {
    color: white;
    font-size: 44px;
    margin-bottom: 0;

    span {
      color: $primary;
    }
  }
}

section#about {
  width: 1150px;
  max-width: calc(100vw - 200px);
  margin: 10vh auto 33vh;
  background: $gray;

  h2 {
    color: white;
    font-size: 62px;
    margin-bottom: 0;
  }

  p {
    color: #949ba0;
    font-size: 18px;
  }

  .block {
    position: relative;
    z-index: 60;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  img,
  .text {
    display: block;
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

section#skills {
  width: 1150px;
  max-width: calc(100vw - 200px);
  margin: 10vh auto 33vh;
  text-align: center;

  > * {
    position: relative;
  }

  h2 {
    position: relative;
    z-index: 60;
    color: white;
    font-size: 72px;
    margin-bottom: 0;
  }

  .skills-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
    align-items: start;

    > .skill {
      position: relative;
      z-index: 60;
      display: flex;
      padding: 10px;
      background: #fff;
      color: #273139;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      > * {
        flex: 0 0 100%;
      }

      > strong {
        order: 2;
        font-weight: 500;
        font-size: 92px;
        margin: 1rem 0;
      }

      > em {
        font-style: normal;
      }

      > h3 {
        order: 3;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }

      &:hover {
        > div {
          opacity: 1;
          z-index: 15;
          pointer-events: auto;
        }
      }
    }

    .hover {
      position: absolute;
      z-index: -1;
      left: 100%;
      top: 0;
      height: 100%;
      width: calc(200% + 40px);
      padding: 20px;
      background: $gray;
      color: $body-color;
      text-align: left;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      p {
        margin-top: 0;
        font-size: 13px;
      }

      .freq {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        display: inline-block;
        padding: 6px 12px 5px 20px;
        border-radius: 0 9px 0 0;
        background: #999ea1;
        color: $body-bg;
        font-weight: 700;
        font-style: italic;
        font-size: 14px;
        line-height: 20px;
      }

      &.right {
        left: auto;
        right: 100%;
        text-align: right;

        .freq {
          left: auto;
          right: 0;
          border-radius: 9px 0 0 0;
          padding-left: 12px;
          padding-right: 20px;
        }
      }
    }
  }
}

#alerts {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  .gravity-alert & {
    display: block;
  }

  .alert {
    position: fixed;
    $alertSize: 30vw;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: $alertSize;
      height: $alertSize;
      background: red;
      background: radial-gradient(rgba(255, 0, 0, 0.5) 0%, transparent 75%);
      background-position: -#{$alertSize/2} -#{$alertSize/2};
      background-repeat: no-repeat;
      transform-origin: left top;
      animation: rotate linear 2s infinite;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    &::after {
      right: 100%;
      bottom: 100%;
      background-position: #{$alertSize/2} #{$alertSize/2};
      transform-origin: right bottom;
    }

    &.one {
      left: 0;
      top: 0;
    }

    &.two {
      right: 0;
      top: 0;
    }

    &.three {
      right: 0;
      bottom: 0;
    }

    &.four {
      left: 0;
      bottom: 0;
    }
  }
}
