$body-color: rgba(#fff, 0.3);
$body-bg: #273139;

$primary: #ff5127;
$gray: #323c43;

html {
  background-color: $body-bg;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($body-bg, 10%);
    border-radius: 6px;
  }
}

body {
  color: $body-color;
  margin: 0;
  padding: 0;

  &.body-hovered {
    cursor: grab;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Operator Mono', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  transition: all ease 0.2s;

  &:hover {
    color: white;
  }
}

header {
  position: fixed;
  z-index: 100;
  top: 58px;
  left: 0;
  right: 0;

  .container {
    width: 1150px;
    max-width: calc(100vw - 200px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  nav#main {
    height: 54px;
    background: $gray;
    border-radius: 54px;
    font-size: 16px;
  }

  nav#tools {
    margin-left: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
      width: 54px;
      border: 0;
      background: $gray;
      border-radius: 54px;
      font-size: 28px;
      font-weight: 700;
      color: white;
      cursor: pointer;
      transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;

      &.active,
      &:hover {
        background-color: $primary;
        color: $body-bg;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }

      &#gravity.active {
        animation: rotate ease 3s infinite;
      }
    }
  }

  [href] {
    padding: 10px 15px;
    border-radius: 24px;

    &:hover {
      background: $primary;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 7px 4px;

    li {
      display: inline-block;
      margin: 10px 5px;

      &.active {
        [href] {
          background: $primary;
        }
      }
    }
  }
}

#canvas > canvas {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
}

section#home {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(50vh - 100px);
  min-height: 100vh;
  text-align: center;

  > .head {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
    position: relative;
    z-index: 60;
    pointer-events: none;
  }

  h1 {
    color: white;
    font-size: 62px;
    margin-bottom: 0;

    span {
      color: $primary;
    }
  }
}

section#about {
  width: 1150px;
  max-width: calc(100vw - 200px);
  margin: 0 auto;
  padding: 33vh 0;

  h2 {
    color: white;
    font-size: 62px;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    color: #949ba0;
    font-size: 18px;
  }

  .block {
    position: relative;
    z-index: 60;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  img {
    display: block;
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .text {
    flex: 0 0 calc(40% - 20px);
    max-width: calc(40% - 20px);
    margin-left: 10%;
  }
}

section#skills {
  width: 1150px;
  max-width: calc(100vw - 200px);
  margin: 10vh auto 33vh;
  text-align: center;

  > * {
    position: relative;
  }

  h2 {
    position: relative;
    z-index: 60;
    color: white;
    font-size: 72px;
    margin-bottom: 0;
  }

  .skills-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
    align-items: start;

    > .skill {
      position: relative;
      z-index: 60;
      display: flex;
      padding: 10px;
      background: $gray;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      transition: background-color ease 0.3s;

      > * {
        flex: 0 0 100%;
        transition: color ease 0.3s;
      }

      > strong {
        order: 2;
        font-weight: 500;
        font-size: 92px;
        color: white;
        margin: 1rem 0;
      }

      > em {
        font-style: normal;
      }

      > h3 {
        order: 3;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }

      &:hover {
        background: white;
        color: $body-bg;

        > strong {
          color: $body-bg;
        }
      }
    }
  }
}

#alerts {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  .gravity-alert & {
    display: block;
  }

  .alert {
    position: fixed;
    $alertSize: 30vw;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: $alertSize;
      height: $alertSize;
      background: red;
      background: radial-gradient(rgba($primary, 0.5) 0%, transparent 75%);
      background-position: -#{$alertSize/2} -#{$alertSize/2};
      background-repeat: no-repeat;
      transform-origin: left top;
      animation: rotate linear 2s infinite;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    &::after {
      right: 100%;
      bottom: 100%;
      background-position: #{$alertSize/2} #{$alertSize/2};
      transform-origin: right bottom;
    }

    &.one {
      left: 0;
      top: 0;
    }

    &.two {
      right: 0;
      top: 0;
    }

    &.three {
      right: 0;
      bottom: 0;
    }

    &.four {
      left: 0;
      bottom: 0;
    }
  }
}
